<nav>
    <ul class="nav-main">
        <li><a href="{% url 'home' %}" class="logo">нямка</a></li>
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><span class="sep">|</span></li>
        <li><a href="{% url 'about' %}">О компании</a></li>
        <li><a href="{% url 'contacts' %}">Контакты</a></li>
        <li><a href="{% url 'location' %}">Как нас найти</a></li>
        <li><span class="sep">|</span></li>
        <li><a href="{% url 'products' %}">Товары</a></li>
        <li><a href="{% url 'delivery' %}">Доставка</a></li>
        <li><a href="{% url 'promotion_list' %}">Акции</a></li>
        <li><a href="{% url 'profile_list' %}">Профили</a></li>
        <li><span class="sep">|</span></li>
        <li><a href="{% url 'cart' %}">Корзина</a></li>
    </ul>
    <ul class="nav-crud">
        <li><span class="nav-label">Управление:</span></li>
        <li><a href="{% url 'category_list' %}">Категории</a></li>
        <li><a href="{% url 'baking_list' %}">Выпечка</a></li>
        <li><a href="{% url 'drink_list' %}">Напитки</a></li>
        <li><a href="{% url 'order_list' %}">Заказы</a></li>
        <li><a href="{% url 'review_list' %}">Отзывы</a></li>
    </ul>
</nav>
{% include 'includes/messages.html' %}
