{% extends "base.html" %}

{% block title_name %}
{{ review.author_name }} — отзыв
{% endblock %}

{% block content %}
<h1>{{ review.author_name }}</h1>
    <p>Оценка: {{ review.rating }}/5</p>
    {% if review.baking %}<p>Товар: {{ review.baking }}</p>{% elif review.drink %}<p>Товар: {{ review.drink }}</p>{% endif %}
    <p>{{ review.text }}</p>
    <p>Дата: {{ review.create_date }}</p>
    {% if review.user == user or perms.bakery_app.change_review or perms.bakery_app.delete_review %}
    <p class="crud-actions">
        {% if review.user == user or perms.bakery_app.change_review %}
        <a href="{% url 'review_update' review.pk %}">Редактировать</a>
        {% endif %}
        {% if review.user == user or perms.bakery_app.delete_review %}
        <a href="{% url 'review_delete' review.pk %}">Удалить</a>
        {% endif %}
    </p>
    {% endif %}
    <a href="{% url 'review_list' %}" class="link-back">← К списку отзывов</a>
{% endblock %}
